html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgb(45, 65, 80);
  color: #fff;
  word-break: break-all;
  font-size: 2.25em;
  letter-spacing: .1em;
}

.over-hidden {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

#load__mask {
  background-color: #5f6c68;
  display: block;
  height: 100%;
  position: fixed;
  left: 0;
  opacity: 1;
  pointer-events: auto;
  top: 0;
  transform: scaleY(1) translateZ(10px);
  transform-origin: center top;
  width: 100%;
  z-index: 99999;
}

#load__mask.reveal {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0) translateZ(10px);
  transform-origin: center top;
  width: 0;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0s linear 1s, width 0s linear 1s, height 0s linear 1s;
}

.site__main__contents {
  overflow: hidden;
}

.header {
  opacity: 0;
  transform: translateY(-110%);
  transition: opacity 0.3s, transform 0.5s;
  position: relative;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  max-width: 1380px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header__inner nav ul {
  display: flex;
}

.header__inner nav ul li:nth-child(even) {
  margin-left: 8%;
  margin-right: 8%;
}

.header__inner nav ul li a {
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

.header__logo h2 {
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif;
}



.video__wrap{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.video-wrap h1{
  position: absolute;
  z-index: 3;
}

.fv__vid{
  width: 100%;
  
}

.fv__vid video{
position: absolute;
top:0;
left: 0;
width: 100%;
height: auto;
z-index: 1;
}



.fv__inner {
  width: 90%;
  height: 100%;
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
}

.fv__ttl {
  position: relative;
  z-index: 2;
  padding-top: 20%;
}

.fv__ttl h1 {
  font-size: clamp(5rem, 4vw, 17rem);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.fv__ttl h1 .fv-span {
  overflow: hidden;
  display: block;
}

.fv__ttl h1 .fv-span span {
  display: block;
  opacity: 0;
  margin: -11px 0;
  transform: translateY(110%);
  transition: opacity 1s, transform 1.2s;
}

.border {
  height: 1.5px;
  background-color: #fff;
  width: 90%;
  margin: 12% auto;
  transform-origin: center left;
  transform: scale(0);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.border.jsBorder {
  transform: scale(1);
}

.prj {
  margin-top: 20%;

}

.prj__inner {
  width: 96%;
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10%;
}

.prj__txt {
  width: 58%;
  min-width: 408px;
  margin: 0 auto 0 2%;
  position: relative;
  z-index: 2;
}

.prj__txt p {
  font-size: clamp(2.5rem, 7vw, 8rem);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-top: 14%;
}

.prj__txt h3 {
  font-size: clamp(2.6rem, 2.5vw, 5.5rem);
  font-weight: 700;
  margin-top: 9%;
  margin-bottom: 6%;
}

.prj__txt h4 {
  font-size: clamp(2.6rem, 1vw, 5.5rem);
  font-weight: 500;
}

.prj__txt h4 span {
  display: block;
  margin: -5px 0;
}

.cv0,.cv1,.cv2{
  background: rgba(0,0,0,0.5);
}

.fade-up-ttl {
  transform: translateY(60px);
  opacity: 0;
  transition: opacity 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, transform 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.fade-up-ttl.js-fadeUp-ttl {
  transform: translateY(0);
  opacity: 1;
}

.content1 {
  padding: 5% 0;
  word-break: normal;
}

.content1__inner {
  width: 96%;
  max-width: 1380px;
  margin: 0;
  position: relative;
}

section{
  scroll-margin: 0px;
  position: relative;
}

section.fv {
  background-color:rgb(45, 65, 80);
}

section.prj {
  background-color:rgb(45, 65, 80);
}

section.content1 {
  background-color: rgb(40, 45, 70);
}

.pagetop{
  position:fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
}

.pagetop a{
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.pagetop:hover{
  opacity: 0.85;
}